<ion-content>
  <div class="bg-img">
    <img src="../assets/background.png" alt="">
  </div>
  <div class="container-box">
    <div class="left-content">
      <p class="title">{{ title }}</p>
      <div class="custom-select">
        <select [(ngModel)]="selected" value="options[0]">
          <option
            class="option-class"
            *ngFor="let option of options"
            [value]="option"
            >{{ option }}
          </option>
          <ion-icon *ngIf="selected" src="../assets/icon/check.svg"></ion-icon>
        </select>
        <ion-icon src="../assets/icon/chevron.svg"></ion-icon>
      </div>
      <p>Selected: {{ selected }}</p>
    </div>
    <hr>
    <div class="right-content">
      <p>{{ rightText }}</p>
    </div>
  </div>
</ion-content>