ion-content {
  --background: #dcdcdc;
}

.bg-img {
  position: absolute;
  --background: url(../assets/background.png);
  max-width: 100%;
  padding-left: 30%;
  padding-right: 3%;
  padding-top: 3%;
}

.container-box {
  position: absolute;
  display: flex;
  margin-top: 23%;
  margin-left: 22%;
  height: 150px;
  width: 725px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;

  .left-content {
    flex-direction: column;
    margin-left: 4%;
    
    .title {
      font-size: large;
      font-size: 20px;
    }

    ion-icon {
      position: absolute;
      right: 10%;
      top: 32%;
      fill: black;
      transform: rotate(180deg);
    }
    
    .custom-select {
      width: 380px;
      position: relative;
      display: flex;
      cursor: pointer;
    }
    
    .custom-select:active {
      select {
        border: 2px solid, #3366FF;
      }
      ion-icon {
        fill: #3366FF;
        transform: none;
      }
    }
    
    select {
      font-size: 14px;
      appearance: none;
      -webkit-appearance: none;
      width: 100%;
      padding: 0.675em 6em 0.675em 1em;
      background-color: #fff;
      border: 2px solid #DBDBDB;
      border-radius: 4px;
      color: #000;
      cursor: pointer;
    }

    p {
      font-size: 14px;
      color: black;
      font-weight: bold;
    }
  }

  hr {
    background-color: #dcdcdc;
    height: 80px;
    width: 2px;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 5%;
  }

  .right-content {
    flex-direction: row;
    justify-content: space-around;
    color: grey;
    margin-right: 4%;
    font-size: 16px;
  }
}

@media screen and (max-height: 800px) and (max-width: 1750px) {
  .bg-img {
    padding-left: 15%;
  }
  .container-box {
    margin-top: 20%;
    margin-left: 10%;
    margin-bottom: 10%;
  }
}

option:focus {
  background: #3366FF;
}